DATABASE_URL=postgresql://postgres:postgres@localhost:5432/tertautv2

JWT_SECRET=
LICENSE_SIGNING_PRIVATE_KEY=

RESEND_API_KEY=
MAIL_FROM="Tertaut <no-reply@mail.tertaut.com>"
EMAIL_REPLY_TO=

PAYMENT_GATEWAY=dana
DANA_ENV=sandbox

DANA_CLIENT_ID=
DANA_CLIENT_SECRET=
DANA_MERCHANT_ID=
DANA_BASE_URL=https://api.saas.dana.id
DANA_PUBLIC_KEY=keys/dana_production_public.pem
DANA_PRIVATE_KEY=keys/dana_production_private.pem

DANA_SANDBOX_CLIENT_ID=
DANA_SANDBOX_CLIENT_SECRET=
DANA_SANDBOX_MERCHANT_ID=
DANA_SANDBOX_BASE_URL=https://api.sandbox.dana.id
DANA_SANDBOX_PUBLIC_KEY=keys/dana_sandbox_public.pem
DANA_SANDBOX_PRIVATE_KEY=keys/dana_sandbox_private.pem
